            *{
                margin: 0;
                font-family: Arial, sans-serif;
            }
            body{
                background-image: url("https://ik.imagekit.io/pincode/images/backgound/3261436.jpg");
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                padding-top: 85px;
            }
            header{
                background-color: lightblue;
                border-bottom: solid;
                opacity: 1;
                border-bottom-width: 2px;
                padding: 5px;
                padding-left: 0px;
                padding-right: 0px;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
            }
            .hed-f{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            header img{
                margin-left: 3px;
                width: 50px;
                height: 50px;
                border-radius: 25px;
                
            }
            .gg{
                font-size: 28px;
            }
            .h-butt a{
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
            .h-butt{
                margin-left: 5px;
                border-radius: 10px;
                background-color: rgba(5, 153, 109, 0.733);
            }
            .h-butt:hover{
                transition: background-color 0.15s;
                background-color: aqua;
            }
            section{
                text-align: center;
            }
            h2{
                text-align: center;
                background-color: rgba(5, 153, 109, 0.733);
                border: solid;
                border-left: 0;
                border-right: 0;
                font-size: 24px;
                margin-bottom: 10px;
            }
            .dd{
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
                row-gap: 12px;
                margin-top: 10px;
            }
            .div1{
                border: none;
            }
            .img1{
                width: 100%;
                object-fit: cover;
                max-height: 350px;
                height: 100%;
                border-radius: 30px;
                min-height: 300px;
            }
            
            .a1{
                text-decoration: none;
                color: black;
            }
            .butt{
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 20px;
                padding: 10px;
                width: 70%;
                border-radius: 20px;
                background-color: lightblue;
            }
            .butt:hover{
                cursor: pointer;
            }
            
            .butt a:hover{
                transition: color 0.15ms;
                color: white;
               
            }
            
            footer{
                text-align: center;
                background-color: lightblue;
                font-size: 24px;
                
            }
            
            @media (max-width: 768px) {

                .gg{
                    font-size: 24px;
                }

                header img{
                    width: 50px;
                    height: 50px;
                }

                h2{
                    font-size: 22px;
                    padding: 5px;
                }
                .p1{
                    font-size: 18px;
                    padding: 5px;
                }
                footer{
                    font-size: 16px;
                    padding: 10px;
                }
            }

